body {
	background: #845EC2;


}

.text1 {
	font-family: monospace;
	font-size: 70px;
	padding: 100px;
	margin-left: 10em;
}

.text2 {
	font-family: monospace;
	font-size: 20px;
	margin-left: 40em;
	margin-top: -190px;
}
 
.but {
	background: #FBEAFF;
	text-decoration: none;
	font-family: monospace;
	margin-left: 60em;
	margin-top: 100000px;
	padding: 15px 50px;
	border-radius: 2em;
	color: black;
}

.head {
	font-family: monospace;
  	font-size: 30px;
  	margin-left: 70px;
  	}

  	.imge {
  		width: 40em;
  		margin-top: -390px;
  		margin-left: 25px;
  		border-radius: 1em;
  	}
